<div class="screen" id="s-champions">
<button class="back-btn" onclick="go('s-competiciones')">◀ Volver</button>
<div class="sec-hdr"><img class="sec-ico comp-logo" src="/static/img/comp/champions.png" alt="Champions League"/><h2>Champions League</h2></div>
<div class="submenu-list">
<div class="submenu-card sc-ucl1" onclick="go('s-ucl-previa')">
<span class="sc-emoji">🏆</span><span class="sc-label">Fase de Liga</span><span class="sc-arr">▶</span>
</div>
<div class="submenu-card sc-ucl2" onclick="go('s-ucl-grupos')">
<span class="sc-emoji">🏆</span><span class="sc-label">Fase Grupos</span><span class="sc-arr">▶</span>
</div>
<div class="submenu-card sc-ucl3" onclick="go('s-ucl-playoffs')">
<span class="sc-emoji">🏆</span><span class="sc-label">Playoffs / Final</span><span class="sc-arr">▶</span>
</div>
</div>
</div>