<div class="screen" id="s-uecl">
<button class="back-btn" onclick="go('s-competiciones')">◀ Volver</button>
<div class="sec-hdr"><img class="sec-ico comp-logo" src="/static/img/comp/conference.jpg" alt="Conference League"/><h2>Conference League</h2></div>
<div class="submenu-list">
<div class="submenu-card sc-uecl1" onclick="go('s-uecl-previa')">
<span class="sc-emoji">🟢</span><span class="sc-label">Fase Previa</span><span class="sc-arr">▶</span>
</div>
<div class="submenu-card sc-uecl2" onclick="go('s-uecl-grupos')">
<span class="sc-emoji">🟢</span><span class="sc-label">Fase Grupos</span><span class="sc-arr">▶</span>
</div>
<div class="submenu-card sc-uecl3" onclick="go('s-uecl-playoffs')">
<span class="sc-emoji">🟢</span><span class="sc-label">Playoffs Final</span><span class="sc-arr">▶</span>
</div>
</div>
</div>