<div class="screen" id="s-usc">
<button class="back-btn" onclick="go('s-competiciones')">◀ Volver</button>
<div class="sec-hdr"><img class="sec-ico comp-logo" src="/static/img/comp/supercopa-eur.jpg" alt="Supercopa de Europa"/><h2>UEFA Supercup</h2></div>
<div class="jlist">
<div class="jblock"><button class="jbtn c-usc" onclick="tog('usc-s')"><div class="pdot">▶</div>⭐ <b>Supercup</b>  Semis</button>
<div class="jmatches" id="usc-s">
<div class="mrow"><div class="mn">Por definir</div><div class="ms p">vs</div><div class="mn r">Por definir</div></div>
<div class="mrow"><div class="mn">Por definir</div><div class="ms p">vs</div><div class="mn r">Por definir</div></div>
</div></div>
<div class="jblock"><button class="jbtn c-usc" onclick="tog('usc-f')"><div class="pdot">▶</div>⭐ <b>Supercup</b>  Final</button>
<div class="jmatches" id="usc-f">
<div class="mrow"><div class="mn">Por definir</div><div class="ms p">vs</div><div class="mn r">Por definir</div></div>
</div></div>
</div>
</div>